[Unit]
Description=Run pods-poc storage push three times daily

[Timer]
OnCalendar=*-*-* 00:01:00
OnCalendar=*-*-* 08:01:00
OnCalendar=*-*-* 16:01:00
Persistent=true

[Install]
WantedBy=timers.target
