# Docker ignore - keep images small and avoid copying local artifacts

data
data/**
!data/.gitkeep

tests
node_modules
containers
pod

/.DS_Store


__pycache__
*.pyc
*.pyo
*.pyd

.env
env
env/
.venv
venv
venv/

build/
dist/
data/

.pip-wheel-metadata
.git
.github
.gitignore
.gitattributes

*.db
*.egg-info
*.log
*.sqlite
